{% extends "common.html" %}
{% block content %}
{% include "gpt/top.html" %}

<script src="/static/geoui/recorder.js"></script>
<script src="/static/geoui/geoaudio.js"></script>
<style>
.b {
    color: red;
}
.divback{
    right: 2;
    border: 0px solid lightgray;
    border-radius: 6px;
    overflow: auto;
    z-index: 40;
    background: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    align-items: center; 
    align-content: center;
    padding: 30 30 10 30;;
}
</style>


<div id="tabs" class=tabs style="border: 0px; border-left: 1px solid #f7f7f7">
    <ul>
        <li><a href="#tabs-wv"      >Wave Surfer</a></li>
        <li><a href="#tabs-audio"   >Audio test</a></li>
    </ul>
    <div id="tabs-audio"    >
        {% include "gpt/audio-test.html" %}
    </div>
    <div id="tabs-wv"    >
        {% include "gpt/wavesurfer.html" %}
    </div>

</div>
{% endblock %}
