{% extends "common.html" %}
{% block content %}
<style>
.split {
    display: flex;
    flex-direction: row;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

tdextarea {
    border-color: #e0e0e0;
    flex: 1 1 auto;
}

.ta {
    border-color: #e0e0e0;
}

.dflex {
    border-color: #e0e0e0;
    flex: 1 1 auto;
    display: flex;  flex-flow: column;
}
.rd{
    border-radius:26px;
    border: 0px solid blue;
}
.rd1{
    border: 0px solid blue;
}
.rd1:select select{
    border: 0px solid blue;
}

audio {
    height: 20px !important;
    width: 120px;
    vertical-align: middle;
    border-radius: 2px;
}

.red{color: firebrick}


.rbutt32{
    height: 32px;
    width: 32px;
    background-color: #f9f9f9;
    border-radius: 16px;
    border: 0px;;
}
.rbutt32:hover {
    border-radius: 16;
    background-color: #e0e0e0;
}
</style>

<script src="/static/node_modules/split.js/dist/split.min.js" ></script>
<script src="/static/geoui/splitter1.js/"></script>
<script src="/static/geoui/recorder.js"></script>
<script src="/static/geoui/geoaudio.js"></script>

{% include "gpt/top.html" %}
<div class="content fcontainer" style="height: calc(100vh - 80px);">
    <div class="split content" style="flex: 1 1 auto;">
        <div id="one" class="dflex" style="padding-left:5px; min-width: 1px; overflow: scroll;">
            <div>
                    <div style="font-size: smaller;text-align: center; color:#777;">
                        <input  class="rd1" size=3 name=audio_len id=audio_len  value="8"  > 
                        <button class="rbutt32"  id=mic onclick="toggleRecord()"><i class="fa fa-microphone"></i></button>
                        <button class="rbutt32" onclick="runClick()"><i class="fa  fa-paper-plane"></i></button>
                        <br/>
                        <audio controls="controls" id="faudio" ></audio>
                        <br/>
                        <label class="label1">#Token</label>
                        <input class="input1" id=max_tokens name=max_tokens  size=2 value=512>  
                    </div>

                    </div>
                    <div style="font-size: x-small;">
                        EXAMPLES:
                    </div>
                    <textarea class="ta" name=dprompt rows="6" id=dprompt placeholder="Enter Prompt - *" required></textarea>
                    <textarea class="dflex" name=prompt id=prompt>who was the president of India in 2022
                    </textarea>
        </div>
        <div id="two" class=dflex >
            <textarea class="dflex" id="result" ></textarea>
        </div>
    </div>
    <div class="footer">: </div>
</div>
<!-- -----------------------------------------------------------------------------
    SCRIPT
 * This assumes you have a service working
------------------------------------------------------------------------------- -->
<script>
var sizes = localStorage.getItem('split-sizes')
if (sizes) {
    sizes = JSON.parse(sizes)
} else {
    sizes = [35, 65]
}

Split(['#one', '#two'], {
    sizes : sizes,
    minSize: [10, 100],
    onDragEnd: function (sizes) {
        localStorage.setItem('split-sizes', JSON.stringify(sizes))
    },
})

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function cb(msg, blob) {
}
var a = new GeoAudio(()=>{}, "faudio")
async function toggleRecord(){
    if (!$('#mic').hasClass("red")) {
        $('#mic').addClass("red")
        a.startRecording()
        var to = parseInt($('#audio_len').val()) * 1000

        setTimeout(stopRecord, Math.min(to, 15*60*1000) )    
    } else {
        stopRecord()
    }
    
}
function stopRecord(){
    $('#mic').removeClass("red")
    a.stopRecording()
    setTimeout(transcribe, 500)
}
function transcribeCB(responseTxt) {
    console.log(responseTxt)
    $('#prompt').val(responseTxt)
}
function transcribe(){
    callws('/geoaudio/transcribe/', "", transcribeCB, {file: a.bblob} );
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
/*
respose={
    "choices": [
        {
        "finish_reason": "stop",
        "index": 0,
        "logprobs": null,
        "text": " \n\nMy name is Kaitlyn."
        }
    ],
    "created": 1677042132,
    "id": "cmpl-6mbYaLDhuWCyoYMmbGrpDqmmCzPPC",
    "model": "text-davinci-002",
    "object": "text_completion",
    "usage": {
        "completion_tokens": 10,
        "prompt_tokens": 5,
        "total_tokens": 15
    }
}
*/
var prompt = ""
var linesp = "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\n"

function runClickCB(responseTxt, statusTxt, xhr, context, formData) {
    nbusy()

    $('#result'  ).val(responseTxt)
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function runClick(callgpt=0) {
    prompt = $('#prompt').val().trim()
    if (!prompt) {
        $('#prompt').effect("shake", { times:3 }, 500);
        $('#prompt').focus()
        return;
    }
    busy()

    data= { prompt: prompt, max_tokens: $('#max_tokens').val(), date:Date.now() }
    callws("/gpt/openai/", "", runClickCB, data)
}
</script>
{% endblock %}
