{% extends "common.html" %}
{% block content %}
<!-- -----------------------------------------------------------------------------
    STYLE
------------------------------------------------------------------------------- -->
<style>
.inum{
    font-size: 5vw; 
    font-weight: 600;
    color: purple; 
}
</style>
<!-- -----------------------------------------------------------------------------
    HTML
------------------------------------------------------------------------------- -->

<div id="info" style="
    background-color: #444; min-height:400px; padding: 30px; color: #e0e0e0;">
<div class="row" >
    <div class="col-md-5" style="padding: 10px; align-content: center; box-shadow: 16px 2px 20px 1px rgba(0, 0, 255, .2)">
            <img loading="lazy" decoding="async" width="100%"  src="/static/gpt/gpt1.png" >
    </div>
    <div class="col-md-7 padding: 50" >
        <h1 style="font-size: 3.5vw;">Transform work with end to end generative AI pipeline</h1>
        <h3 style="font-size: 2.0vw;color: rgb(255, 108, 255); font-weight: 500;font-family: sans-serif"> 
            Easily build and scale generative AI applications with foundation models seamless execution.
        </h3>
        <br/>
        Unlock the power of programmatic AI data development; Boost productivity, build differentiated experiences, and innovate faster.
        <br/>
        <br/>
        <div style="width: 100%; text-align: end;">
            <a class="rbutt" style="color: white;" href="/geospaces/geospaces/contact.html/" "> Request a Demo </a>
            &nbsp;
            &nbsp;
            &nbsp;
            <a class="rbutt" style="color: white;" href="/gpt/gpt/index-gpt.html/" ">Try it here</a>
        </div>
    </div>
</div>
</div>

<div id="info" style="width: 100%; padding: 0px;
    background-image: url('/static/geospaces/imgs/bot1.png/'); min-height:100px; background-size: 100%; 
    background-repeat:no-repeat; background-position-y: top; border-image-repeat: none;">
</div>    

<br/>
<br/>
<div class="row" >
        <div class="col-md-3" style="text-align: center;" >
            <span  class="inum" style=" text-align: center;">Why</span>
        </div>
        <div class="col-md-9 padding: 50" >
            <hr/>
            <div class="row" >
                <div class="col-md-3" ><span class="inum">1</span></div>
                <div class="col-md-8" >
                    <h1>Utilize game changing research</h1>
                    <p>
                        With hundreds of peer-reviewed papers and applied ML/AI research collaborations with industry leaders like Apple, Google, and Intel, Geospaces transforms advanced academic insights into software, empowering enterprises to accelerate AI development and drive real business impact.                    </p>
                </div>
            </div>


            <hr/>
            <div class="row" >
                <div class="col-md-3" ><span class="inum">2</span></div>
                <div class="col-md-8" >
                    <h1>Scale your experts, not your headaches</h1>
                    <p>
                        Effortlessly collaborate between business experts and data scientists to create top-quality training datasets! Geospaces collaboration tools centralize annotation within a single platform, eliminating the need for additional spreadsheets.                    </p>
                </div>
            </div>


            <hr/>
            <div class="row" >
                <div class="col-md-3" ><span  class="inum">3</span></div>
                <div class="col-md-8" >
                    <h1>Adapt AI applications at the speed of business</h1>
                    <p>
                        Data is the biggest bottleneck to any AI project. Snorkel makes AI data development just like software development, so you can scale, adapt, adjust, and reuse data sets, just like your code.                
                    </p>
                </div>
            </div>


            <hr/>
            <div class="row" >
                <div class="col-md-3" ><span  class="inum">4</span></div>
                <div class="col-md-8" >
                    <h1>Transforming Data Development: Scale and Customize Datasets with Ease</h1>
                    <p>
                        Geospaces reimagines data development to function like software engineering, turning data into a flexible, reusable asset. With data as the biggest hurdle in AI projects, now you can scale, customize, and iterate on datasets as seamlessly as code.                    </p>
                </div>
            </div>


            <hr/>
            <div class="row" >
                <div class="col-md-3" ><span class="inum">5</span></div>
                <div class="col-md-8" >
                    <h1>Seamless Integration for Secure, Effective Data Utilization</h1>
                    <p>
                        Geospaces seamlessly integrates with your setup—whether in the cloud or on-premises—to securely and effectively harness even your most sensitive data.                </div>
            </div>



        </div>
</div>

<br/>
<br/>
<br/>
<br/>
<div style="position:relative; bottom: 0;width: 100%; z-index:10;">
    {% include "geospaces/footer.html" %}
</div>
<!-- -----------------------------------------------------------------------------
    SCRIPT

 * This assumes you have a service working
------------------------------------------------------------------------------- -->
<script>
var trans
function checkCommandCBCB(data) {
    var trans= JSON.parse(data)
    $('#prompt').val( trans.text.trim() )
    try {
        sp1 = trans.segments[0].speakers[0].top3.split(';')
        $('#speaker').text( sp1[0] )
    } catch {
    }
}
function checkCommandCB(blob) {
    console.log( "Checking : " + blob.size )
    if (blob.size/32000 < 3) {
        console.log( "Too short ... " )
        return
    }
    var url = URL.createObjectURL(blob);
    faudio.src = url
    Transcribe(blob, [checkCommandCBCB])
    //rec.shiftRecord(32000)
    rec.clear() 
}
function checkCommand() {
    stopRecording()
    rec.exportWAV(checkCommandCB)
}

function recordClicked() {
    if (rec && rec.recording) {
        stopRecording()
        return
    } else{
        startRecording(10000);
        setTimeout(checkCommand, 8000);
        $(recordButton).addClass("rbuttr");
    }
}

function isWakeClickedCB(blob) {
    $(wakeButton).removeClass("rbuttr");
    bblob=blob
    var url = URL.createObjectURL(blob);
    faudio.src = url
    CallWS("/scribe/wakeword/", {file: blob})
    console.log("Wake clicked")
}
function isWakeClicked() {
    if (rec && rec.recording) {
        return
    } else{
        console.log("in isWakeClicked(): ")
        startRecording(2000, isWakeClickedCB);
        $(wakeButton).addClass("rbuttr");
    }
}

/*
respose={
    "choices": [
        {
        "finish_reason": "stop",
        "index": 0,
        "logprobs": null,
        "text": " \n\nMy name is Kaitlyn."
        }
    ],
    "created": 1677042132,
    "id": "cmpl-6mbYaLDhuWCyoYMmbGrpDqmmCzPPC",
    "model": "text-davinci-002",
    "object": "text_completion",
    "usage": {
        "completion_tokens": 10,
        "prompt_tokens": 5,
        "total_tokens": 15
    }
}
*/
var prompt = ""
var linesp = "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\n"

function handleClick1CB(responseTxt, statusTxt, xhr) {
    nbusy()
    if (JS_error(responseTxt, statusTxt, xhr, true) ) {
        return;
    }
    var js = JSON.parse(responseTxt)
    console.log(js)
    $('#result'  ).val(linesp + prompt + "\n\n" + js.choices[0].text.trim() + "\n" + $('#result'  ).val() )
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function handleClick1(callgpt=0) {
    busy()
    var url = (!callgpt) ? '/gpt/testgpt/': '/gpt/callgpt/'
    prompt = $('#prompt').val().trim()
    if (prompt == "") {
        JS_error("Please enter a prompt", "error", "")
        $('#prompt').effect("shake", { times:3 }, 500);
        $('#prompt').focus()
        nbusy()
        return;
    }
    data= { prompt: prompt, max_tokens: $('#max_tokens').val()}
    var data1 = GET_POSTDATA(data)
    console.log(url);
    $.post(url, data1, handleClick1CB)
}
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function TranscribeCB1(data) {
    var val = JSON.parse(data)
    console.log( val )
    //var v1 = $('#prompt').val() + "\n"
    $('#prompt').val(val.text )
}
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
async function foo(){
    for (var i = 0; i < arguments.length; i++) {
    console.log(arguments[i]);
  }
}

async function CallWS(url="/scribe/wakeword/", context={}, callbacks=null, validate=null) {
    var start = new Date()
    console.log("+ Calling url ...", url)

    var data = "?"
    let form = new FormData();
    for (var k in context) {
        form.append(k, context[k]);
    }

    let response=fetch(url, {
        method: "post",
        body: form,
        headers: { "X-CSRFToken": '{{csrf_token }}' },
    })
    .then(response => response.text())
    .then(resp => {
        data = resp
        if (callbacks) {
            if ( Array.isArray(callbacks) )
                for (var cb in callbacks)
                    callbacks[cb](data, context);
            else
                callbacks(data)
        } else {
            console.log("\tCB: " +url+ " =>:" + data.slice(0,100))
        }
    })
    .catch(error => {
        console.log("ERROR; " , error)
        JS_error("Error: " + error,)
    }).finally( function() {
        var now = new Date()
        var elp = now.valueOf() - start.valueOf()
        var t1  = start.toTimeString().slice(0,8)
        var t2  = now.toTimeString().slice(0,8)
        var log =  "\tCB: " +url+ " =>:" + t1 + " - " + t2 + " : " + elp/1000 + " ms; Data: " + data.slice(0,32)
        console.log( log )
    });
}
    
</script>
{% endblock %}
