<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.5.2/dist/tf.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/speech-commands"></script>


<style>
.console{
    background: #010101; 
    color: khaki; width:90%; 
    resize: both;
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid lightgray;
    height: 400px;
    width: 90%;
    border-radius: 5px;;
}
</style>

<div style="padding: 15px;">
<h2>Tensorflow example - pre trained models</h2>
</div>
<hr/>
<div class="console" id="console" >
    [ ] 
</div>

<script>
const consolediv = document.getElementById('console');
let recognizer;

function predictWord() {
    const words = recognizer.wordLabels(); // Array of words that the recognizer is trained to recognize.
    recognizer.listen(({scores}) => {
        
        // Turn scores into a list of (score,word) pairs.
        scores = Array.from(scores).map((s, i) => ({score: s, word: words[i]}));
        
        // Find the most probable word.
        scores.sort((s1, s2) => s2.score - s1.score);
        document.querySelector('#console').textContent = scores[0].score + "\n" + scores[0].word;
    }, {probabilityThreshold: 0.95});
}

async function app() {
 recognizer = speechCommands.create('BROWSER_FFT');
 await recognizer.ensureModelLoaded();
 predictWord();
}

app();
</script>