<style>
.btnxsm {
    line-height: 1.5;
    font-size: smaller;
    border-right: 2px solid black;
    padding: 5 20 5 20;
}    
</style>
<!-- { % include "websock_chat.html" % } -->
    
<div style="border-bottom: 0px solid #ccc; background-color: #eee;height: 32px;"">
    <span  class="btn-group"  style="font-weight: 500; font-size: 1.7vw; align-items: center; padding-left: 20px; color: firebrick;">
        <i class="fa fa-robot"></i> &nbsp; GenAI Studio
    </span>
    <span  class="btn-group"  style="text-align: right; float: right;height: 100%;">
        <a class="btn btn-secondary btn-sm btnxsm" type="button" href="/gpt/gpt/tts.html/"><i class="fas fa-volume-up"></i>  &nbsp; TTS </a>
        <a class="btn btn-secondary btn-sm btnxsm" type="button" href="/gpt/gpt/audio.html/"> <i class="fa fa-microphone" ></i> &nbsp; Audio </a>
        <a class="btn btn-secondary btn-sm btnxsm" type="button" href="/gpt/gpt/index.html/">LLM</a>
        <a class="btn btn-secondary btn-sm btnxsm" type="button" href="/gpt/gpt/rag.html/"> RAG </a>
    </span>
</div>
    