<style>
.btnxsm {
    line-height: 1.5;
    font-size: smaller;
    border-right: 2px solid black;
    padding: 5 20 5 20;
}    
</style>
    
<div style="text-align: right; border-bottom: 0px solid #ccc; background-color: #eee;">
    <span  class="btn-group"  >
        <a class="btn btn-secondary btn-sm btnxsm" type="button" href="/gpt/gpt/tts.html/">TTS </a>
        <a class="btn btn-secondary btn-sm btnxsm" type="button" href="/gpt/gpt/rag.html/">RAG </a>
        <a class="btn btn-secondary btn-sm btnxsm" type="button" href="/gpt/gpt/index.html/">Test LLMs</a>
        <a class="btn btn-secondary btn-sm btnxsm" type="button" href="/gpt/gpt/audio-test.html/">Audio Test</a>
    </span>
</div>
    