{% extends "common.html" %}
{% block content %}
<!-- -----------------------------------------------------------------------------
    STYLE
------------------------------------------------------------------------------- -->
<style>
</style>
<!-- -----------------------------------------------------------------------------
    HTML
------------------------------------------------------------------------------- -->
{% include "gpt/top.html" %}

<form id="tts" >
    {% csrf_token %}
    <div class="container box" style ="width: 1024px;" >
        <br/>

        <h3> <i class="fas fa-volume-up" style="color:lightseagreen;"></i> Text to Speech</h3>
        <textarea id="ttsprompt" name=ttsprompt style="height: 50% ; border-radius: 4px; width:100%; border-color: #e0e0e0;" required
        placeholder='Enter text to convert to speech. Seperate the text by  #--- \n to get multiple audio files'></textarea>

        <div class="row">
            <div class="col-sm-8">
                <label class=label1 > Voice</label> 
                <select name="voice" id="voice" required class="input1"  onchange="" style="font-size: large;border-radius: 6px;">
                    <option value="alloy" > Alloy  </option>
                    <option value="echo"  > Echo   </option>
                    <option value="fable" > Fable  </option>
                    <option value="onyx"  > Onyx   </option>
                    <option value="nova"  > Nova   </option>
                    <option value="simmer"> Simmer </option>
                </select>
                <!--
                <label class=label1 > filename prefix</label> 
                <input name=fname_prefix id=fname_prefix  class="input11 rd" value="speech_*.mp3" data-toggle="tooltip" title="filename prefix" style="width:100%;"> 
                -->
                <br/>
                <br/>
                <button class="btn btn-primary btn-lg"  onclick="handleClick1()" type="button">Convert</button><br/>
            </div>
            <div class="col-sm-4">
                <br/>
                <audio id="faudio" controls style="height: 32px;;">
                    <source src="https://cdn.openai.com/API/docs/audio/alloy.wav">
                </audio>
                <div id="audiolist" style="padding-left: 20px;";>
                </div>
            </div>
        </div>
        <a style="color: gray; font-size: smaller;" href="https://platform.openai.com/docs/guides/text-to-speech" target="snew"> Click here for details</a>
    </div>
</form>
<!-- -----------------------------------------------------------------------------
    SCRIPT
------------------------------------------------------------------------------- -->
<script>
var prompt = ""
var linesp = "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\n"

function handleClick1CB(responseTxt, statusTxt, xhr) {
    if (JS_error(responseTxt, statusTxt, xhr, true) ) {
        return;
    }
    console.log(responseTxt)
    var js = JSON.parse(responseTxt)
    console.log(js)
    var res = ""
    for (var i in js.files) {
        var f = js.files[i]

        res += `<button class='btn btn-light' style="font-size: xx-small" onclick='setplay("/${f}")' type=button> 
            <i class="fa fa-play-circle"></i> &nbsp; ${filename(f)}</button>\n`
    }
    $('#audiolist').html(res)
    saveZZValues()
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function setplay(f, play=1) {
    console.log(f)
    //var audio = new Audio(f);
    //audio.play()

    $("#faudio").attr("src", f);
    $("#faudio")[0].pause()
    $("#faudio")[0].load()
    if (play)
        $("#faudio")[0].play()

}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function handleClick1() {
    $('#ttsprompt').val($('#ttsprompt').val().trim())
    saveZZValues()
    var url = '/gpt/tts/'
    callws(url, "tts", handleClick1CB, )
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
$(document).ready(function() {
    restoreZZValues()
})
</script>
{% endblock %}
