
<script src="/static/node_modules/wavesurfer.js/dist/wavesurfer.min.js"></script>
<script src="/static/node_modules/wavesurfer.js/dist/plugins/timeline.min.js"></script>
<script src="/static/node_modules/wavesurfer.js/dist/plugins/regions.min.js"></script>

<br/>
<h5>Waveform Examples</h5>
<div id="wv"   style="border: 2px dotted #de5656;" 
            ondragenter="$(this).addClass('drag_hover')"  
            ondragover="$(this).addClass('drag_hover');event.stopPropagation();event.preventDefault();" 
            ondragleave="$(this).removeClass('drag_hover')" 
            ondrop="handledrop(event,this)" 
                >
<div id="wvtimeline"></div>
</div>
<br/>

<!-- ~~~~~~~~~~~~~~~~BUTTONS ~~~~~~~~~~~~ -->

<button class="btn btn-outline-dark" onclick="togglePlay()"  ><i class="fa fa-play"  ></i> Play/Stop </button>      
<button class="btn btn-outline-dark" onclick="wvTranscribe()"><i class="fa fa-pencil"></i> Transcribe </button>      
<button class="btn btn-outline-dark" onclick="wvDiarize()"   ><i class="fa fa-book"  ></i> Diarize </button>      

<div class="div1">
    <label class=label1 ># participants</label> 
    <input id="nspeakers"  class="input1" value='' size="4">
</div>

<input id="cfile" type="file" style="align-content: space-around;"  class="input11 "  
    onchange="readfile()"  accept="*" > 

<textarea id="wvtrans" class="input1" style="height: 64px;" rows="4"></textarea>    

<div class="row">
    <div class="col-sm-6">
        <h4>Transcripts</h4>
        <div id="segments" ></div>
    </div>
    <div style="width:10px;">.</div>
    <div class="col-sm-5">
        <h4>Darization results</h4>
        <div id="segments1"></div>
    </div>
</div>
<!-- ~~~~~~~~~~~~~~~~DIARIZED Text ~~~~~~~~~~~~ -->
<script>
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
let regions
let wavesurfer1
let activeRegion = null
let loopRegion=0
let wvBlob = null

async function createWavesurfer() {
    regions = WaveSurfer.Regions.create()
    wavesurfer1 = WaveSurfer.create({
        container:      "#wv",   
        waveColor:      'gray',
        progressColor:  'purple',
        url:            "/static/gpt/test_multiple.wav",
        plugins: [
            regions,
            WaveSurfer.Timeline.create({ container: '#wvtimeline'}  ),
        ]
    })


    regions.on('region-in', (region) => {
        console.log('region-in', region)
        activeRegion = region
    })

    regions.on('region-out', (region) => {
        console.log('region-out', region)
        if (activeRegion === region) {
            if (loopRegion) {
                activeRegion.play()
            } else {
                activeRegion = null
                //wavesurfer1.pause()
            }
        }
    })
    //wavesurfer1.on('click', togglePlay) 
    setTimeout(getWvBlob, 500)
}
async function getWvBlob() {
    await fetch(wavesurfer1.media.src)
        .then(response => response.blob())
        .then(d => wvBlob = d)
        .then(console.log)
}
var segs="  6.380 :   6.900 :  :  Hello.\n  7.640 :   8.720 :  :  Oh, hello.\n  8.900 :  9.780 :  :  I didn't know you were there.\n  9.980 :  10.620 :  :  I needed to design.\n 10.900 : 12.380 :  :  Okay, I heard of deep.\n 12.540 :  13.980 :  :  This is Diane in New Jersey.\n 14.400 :  17.500 :  :  I'm Sheila and Texas originally from Chicago.\n 18.100 :  20.020 :  :  Oh, I'm originally from Chicago also.\n 20.180 :  21.320 :  :  I'm in New Jersey now though.\n 21.880 :  23.720 :  :  Well, there's not much difference.\n 24.120 :  27.260 :  :  At least they all call me a Yankee down here.\n 27.560 :  28.020 :  :  So we'll come back.\n 28.020 :  29.800 :  :  I don't hear that in New Jersey now.\n 29.980 :  29.980 :  : \n 29.980 :  29.980 :  : \n 29.980 :  29.980 :  : \n 29.980 :  29.980 :  : \n"
var rgns=[]
var ssegs=[]
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function wvplay(s,e) {
    wavesurfer1.pause()
    wavesurfer1.setTime(s)
    wavesurfer1.play()
    setTimeout("wavesurfer1.pause()", (e-s)*1000+200)
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function wvTranscribeCB1() {
    ssegs = segs.split("\n")
    rgns = []
    for (var s in ssegs) {
        var ss = ssegs[s].split(":")
        if (ss[3] && ss[3].trim().length) {
            var it = {
                start: ss[0].trim(), end: ss[1].trim(), speaker: ss[2].trim(), label:0, text: ss[3].trim()}
            rgns.push(it)
        }
    }
    regions.clearRegions()
    var out = `<table id=transtable class='table table-striped table-sm mydatatablecss'>
        <tr class=table-primary><th></th><th>start</th><th>end</th><th>Length</th><th>Speaker</th><th>Text</th></tr>
        `
    var i = 0
    for (var r in rgns ) {
        i++
        r = rgns[r]
        console.log(r.start, r.end, r.end-r.start)
        addRegion(r.start, r.end-r.start, r.label)
        var p = `<a href=# onclick="wvplay(${r.start}, ${r.end})"><i class="fa fa-play fa-xs" ></i> ${i} &nbsp; play</a>`
        out += `<tr><td>${p}</td><td>${r.start}</td><td>${r.end}</td><td>${(r.end-r.start).toFixed(3)}</td>
                <td contenteditable>${r.speaker}</td><td contenteditable2 style="overflow:hidden;"><div  style="overflow:hidden;"> ${r.text} <div></td></tr>`
    }
    out += "</table>"
    $('#segments').html(out)
    //console.log(rgns)
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
var drgns
function wvDiarizeCB(responseTxt, statusTxt, xhr, ctx, formData) {
    if (JS_error(responseTxt, statusTxt, ctx, true) ) {
        return;
    }
    drgns = JSON.parse(responseTxt)
    var out = `<table id=diatable class='table table-striped table-sm mydatatablecss'>
        <tr class=table-primary><th></th><th>start</th><th>end</th><th>Length</th><th>Speaker</th><th>Text</th></tr>
        `
    var i = 0
    for (var r in drgns ) {
        i++
        r = drgns[r]
        console.log(r.start, r.end, r.end-r.start)
        addRegion(r.start, r.end-r.start, r.label)
        var p = `<a href=# onclick="wvplay(${r.start}, ${r.end})"><i class="fa fa-play fa-xs" ></i> ${i} &nbsp; play</a>`
        out += `<tr><td>${p}</td><td>${r.start.toFixed(3)}</td><td>${r.end.toFixed(3)}</td>
                <td>${(r.end-r.start).toFixed(3)}</td>
                <td contenteditable>${r.label}</td><td contenteditable>${r.text}</td></tr>`
    }
    out += "</table>"
    $('#segments1').html(out)

}
function wvDiarize(blob=wvBlob) {
    var url = '/scribe/diarize/'
    data = {file: blob, nspeakers: $('#nspeakers').val().trim(), mode: 0}

    callws(url, null, wvDiarizeCB , data)
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
$(document).ready(function() {
    setTimeout(wvTranscribeCB1, 500)
})
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function wvTranscribeCB(responseTxt, statusTxt, xhr, ctx, formData) {
    console.log("Got:" , responseTxt.substr(0,64))
    $('#wvtrans').val(responseTxt)
}
async function wvTranscribe(blob=wvBlob){
    data = {file: blob}
    resp = await callws('/scribe/transcribe_audio/', "", wvTranscribeCB, data )
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function togglePlay() {
    (wavesurfer1.isPlaying()) ? wavesurfer1.pause(): wavesurfer1.play()
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
//Once the user loads a file in the fileinput, the file should be loaded into waveform

$(document).ready(function() {
    $('#wv')[0].addEventListener("drop", handledrop, false);
});

function handledrop(evt, w) {
    evt.stopPropagation();
    evt.preventDefault();
    $(w).removeClass('drag_hover')

    var files1 = evt.dataTransfer.files;  // FileList object.
    var file=files1[0]
    readfile(file)
}
function readfile(file=null) {
    if ( !file ){
        file = $('#cfile')[0].files[0]
    }

    var reader = new FileReader();
    reader.readAsArrayBuffer(file);

    reader.onload = function (evt) {
        var blob = new window.Blob([new Uint8Array(evt.target.result)]);
        wavesurfer1.loadBlob(blob);
        wvBlob = blob
    };

    reader.onerror = function (evt) {
        alert("An error ocurred reading the file: ", evt);
    };
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// OLD
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
async function playDuration(start=$('#a_start').val(), len=$('#a_len').val(), rblob=myBlob) {
    const blob = await a.fetchAudioBlobForRange(start, len, rblob);
    if (blob) {
        // You can now use the Blob (e.g., download it, play it, etc.)
        const url = URL.createObjectURL(blob);
        //var aud = document.getElementById('faudio');
        //aud.src=url
        wavesurfer1.setTime(start)

        //const a = document.createElement('a');
        //a.href = url;
        //a.download = 'audio_clip.wav';
        //a.click();
        //URL.revokeObjectURL(url);

        /*

        //wavesurfer1.clearMarkers();
        //wavesurfer1.clearRegions();
        wavesurfer1.addMarker({ 
            time: start+len,             
            label: "speaker-name here", 
            color: 'hsla(30, 100%, 50%, 1.0)',
            multiple: false
        }); 
        */
        regions.addRegion({ 
            start: start,             
            end: start + len, 
            color: 'hsla(30, 100%, 50%, 0.20)',
            multiple: false,
            loop: false,
            drag: true,
            resize: true
        });
    }
}

var temp= [{'start': 6.754,
  'end': 7.1659375,
  'label': 0,
  'start_sample': 108064,
  'end_sample': 114655},
 {'start': 7.65,
  'end': 17.775,
  'label': 1,
  'start_sample': 122400,
  'end_sample': 284400},
 {'start': 17.775,
  'end': 21.6299375,
  'label': 2,
  'start_sample': 284400,
  'end_sample': 346079},
 {'start': 21.794,
  'end': 29.9999375,
  'label': 3,
  'start_sample': 348704,
  'end_sample': 479999}
]

temp =[
{start: 6.7134687500000005, end: 7.16909375, label: 2 },
{start: 7.574093750000001, end: 8.316593750000003, label: 0 },
{start: 8.316593750000003, end: 14.762843750000002, label: 2 },
{start: 9.852218750000002, end: 11.05034375, label: 0 },
{start: 14.273468750000003, end: 18.54284375, label: 0 },
{start: 17.98596875, end: 21.52971875, label: 1 },
{start: 21.765968750000003, end: 28.60034375, label: 0 },
{start: 27.79034375, end: 29.96721875, label: 2 },
{start: 29.89971875, end: 29.96721875, label: 0 },
]

temp=[
{start: 6.730343750000001, end: 7.16909375, label: 1 },
{start: 7.16909375, end: 7.185968750000001, label: 2 },
{start: 7.59096875, end: 8.316593750000003, label: 1 },
{start: 8.316593750000003, end: 9.919718750000001, label: 2 },
{start: 9.919718750000001, end: 10.93221875, label: 1 },
{start: 10.45971875, end: 14.745968750000003, label: 2 },
{start: 10.93221875, end: 10.98284375, label: 0 },
{start: 14.30721875, end: 17.88471875, label: 0 },
{start: 18.01971875, end: 21.512843750000002, label: 2 },
{start: 18.15471875, end: 18.44159375, label: 0 },
{start: 21.765968750000003, end: 28.49909375, label: 0 },
{start: 27.85784375, end: 29.96721875, label: 2 },
]

function getColor(i) {
    color = "hsla(" + i*100  + ", 100%, 50%, 0.20)";
    //for (var i = 0; i < whateverYourValue; i += 1) {
    //    color = "color: hsl(" + i * 10 + ", 50%, 50%)";
    //}
    return color
}
function addRegion(start, len, i=-1) {
    var color = (i>=0) ? getColor(i) : 'hsla(30, 100%, 50%, 0.20)'
    regions.addRegion({ 
            start: start,             
            end: start + len, 
            color: color,
            multiple: false,
            loop: true,
            drag: true,
            resize: true
        });
}
function addRegions(rgns=temp) {
    regions.clearRegions()
    for (var r in rgns ) {
        r = rgns[r]
        addRegion(r.start, r.end-r.start, r.label)
    }
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
$(document).ready(function() {
    createWavesurfer()
})

</script>